.container {
    display: flex;
    flex-direction: column;
    /* width: 60vw; */
    margin: auto;
    padding: 0px 60px 0px 0px;
}

.divContainer {
    display: flex;
    flex-direction: row;
}

.homeSection {
    margin: 0px 0px 10px 0px;
    border-radius: 16px;
    max-width: 500px;
    width: 100vw;
    padding: 40px 30px;
    background: white;
}

.homeSection h2 {
    color: black;
    font-weight: 400;
    margin-bottom: 15px;
}

.homeSection .searchTitle {
    text-align: center;
    margin-top: 20px;
}

.homeSection .searchField {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

.homeSection .searchField span {
    position: absolute;
    left: 8px;
    top: 7px;
}

.homeSection .searchField input {
    display: block;
    width: 100%;
    outline: none;
    padding: 4px 8px 4px 27px;
}